@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

/* navbar */
.navbar-brand {
    font-size: 18px;
}

.navbar-brand:hover {
    letter-spacing: 1px;
}

nav a {
    color: black;
    text-decoration: none;
    position: relative;
    transition: all .3s ease-in-out;
}

nav .nav a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: dodgerblue;
    border-radius: 100px;
    transition: all .3s ease-in-out;
}

nav li:hover a {
    letter-spacing: 2px;
}

nav li:hover a::after {
    width: 100%;
}

/* main section */
#main-section {
    height: 100vh;
}

.main-section-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.greeting {
    font-size: 34px;
    font-weight: 300;
}

.description {
    font-size: 28px;
    font-weight: 600;
    opacity: .9;
}

.bi-arrow-down-short {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    animation: up-down 2s infinite ease-in-out alternate-reverse;
}

@keyframes up-down {
    0% {
        bottom: 25%;
    }

    50% {
        bottom: 27%;
    }

    100% {
        bottom: 25%;
    }
}

/* about section */
#about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 0.15) 0%, hsla(216, 41%, 79%, 0.15) 50%);
}

/* work section */
#work-section {
    padding: 3rem 0;
}

.card {
    border: none;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.1);
}

.card img:hover {
    height: 400px;
}

.card .img {
    height: 300px;
}

.card img {
    height: 300px;
    cursor: pointer;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.card .card-text {
    background-color: white;
}

.card h6 {
    font-size: 12px;
    color: dodgerblue;
    text-transform: uppercase;
}

.card a {
    font-size: 28px;
    font-weight: 800;
    color: black;
    text-decoration: none;
    opacity: .9;
}

.card a:hover {
    color: dodgerblue;
}

.card p {
    font-size: 15px;
}

.card span {
    font-size: 11px;
    padding: 8px;
    font-weight: 500;
    background-color: rgba(30, 143, 255, 0.1);
    margin: 8px 0;
}

/* footer */
footer {
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 0.15) 0%, hsla(216, 41%, 79%, 0.15) 50%);
}

.copyright {
    font-size: 14px;
}
footer li a{
    position:relative;
}
footer li img{
    transition: all .3s ease-in-out;
}
footer li img:hover{
    transform: translateY(-4px);
}




/* common */
p.mb-5 {
    font-size: 20px;
    font-weight: 300;
}



/* background animations */
.circle-bg {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border-radius: 1000px;
    background-image: linear-gradient(90deg, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.circle-bg-2 {
    height: 240px;
    width: 240px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
    animation: circle-animation-1 .7s ease-in-out 0s 1;
}

@keyframes circle-animation-1 {
    from {
        height: 0px;
        width: 0px;
    }

    to {
        height: 240px;
        width: 240px;
    }
}