@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

/* navbar */
.navbar-brand {
    font-weight: 300;
    font-size: 18px;
}
.navbar-brand:hover{
    color: dodgerblue;
}

nav a {
    color: grey;
    text-decoration: none;
    position: relative;
    transition: all .3s ease-in-out;
}

nav .nav a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: dodgerblue;
    border-radius: 100px;
    transition: all .3s ease-in-out;
}

nav li:hover a {
    letter-spacing: 2px;
}

nav li:hover a::after {
    width: 100%;
}
/* main section */
#main-section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.greeting {
    font-size: 24px;
    font-weight: 300;
}

.description {
    font-size: 32px;
    font-weight: 500;
}

.bi-arrow-down-short {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    animation: up-down 2s infinite ease-in-out alternate-reverse;
}

@keyframes up-down {
    0% {
        bottom: 25%;
    }

    50% {
        bottom: 27%;
    }

    100% {
        bottom: 25%;
    }
}

/* about section */
#about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 0.15) 0%, hsla(216, 41%, 79%, 0.15) 50%);
}

.resume-download {
    margin-top: 1rem;
    border: 1px solid gainsboro;
    padding: .75rem 2rem;
    border-radius: 100px;
    font-size: 14px;
}

.resume-download:hover {
    border-color: rgb(195, 225, 255);
}

/* work section */
#work-section {
    padding: 3rem 0;
}

.card {
    border: none;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.1);
}

.card img:hover {
    height: 400px;
}

.card .img {
    height: 300px;
}

.card img {
    height: 300px;
    cursor: pointer;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.card .card-text {
    background-color: white;
}

.card h6 {
    font-size: 15px;
    color: gray;
}

.card a {
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.card a:hover {
    color: dodgerblue;
}

.card p {
    font-size: 16px;
}

.card span {
    font-size: 12px;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 100px;
    margin: 8px 0;
}

/* footer */
footer{
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 0.15) 0%, hsla(216, 41%, 79%, 0.15) 50%);
}
.copyright {
    font-size: 14px;
}

.copyright,
.connect-link {
    font-family: 'Montserrat', sans-serif;
}

.connect-link a {
    text-decoration: none;
    color: grey;
}

.connect-link a:hover i::after {
    height: 100%;
    width: 100%;
    bottom: 0%;
    left: 0%;
}

.connect-link a:hover {
    color: white;
}

.connect-link a:hover i{
    border-color: transparent;
}

.connect-link i {
    border: 1px solid gainsboro;
    padding: 1rem;
    border-radius: 100px;
    position: relative;
}

.connect-link i::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: dodgerblue;
    transition: all .3s ease-in-out;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 100px;
    z-index: -1;
}

/* common */
p.mb-5 {
    font-size: 20px;
    font-weight: 300;
}